<% include ./include/header %>

<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
  <div class="hero-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay" style="background-image: url(img/bg-img/bg-2.jfif);">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-end">
          <div class="col-12 col-lg-7">
            <!-- Slides Content -->
            <div class="hero-slides-content">

              <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>
              <h2 data-animation="fadeInUp" data-delay="500ms">Jesus Christ the Good shepherd</h2>
              <p data-animation="fadeInUp" data-delay="700ms">Come to me, all of you who are tired from carrying heavy load, and I will give you rest.</p>
              <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Mattew 11:28</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Button -->
      <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Sunday Workship: 10:30 AM</a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-end">
          <div class="col-12 col-lg-7">
            <!-- Slides Content -->
            <div class="hero-slides-content">
              <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>
              <h2 data-animation="fadeInUp" data-delay="500ms">Jesus Christ the Good shepherd</h2>
              <p data-animation="fadeInUp" data-delay="700ms">Come to me, all of you who are tired from carrying heavy load, and I will give you rest.</p>
              <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Mattew 11:28</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Button -->
      <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Sunday Workship: 10:30 AM</a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay" style="background-image: url(img/bg-img/bg-3.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-7">
            <!-- Slides Content -->
            <div class="hero-slides-content">
              <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>
              <h2 data-animation="fadeInUp" data-delay="500ms">Jesus Christ the Good shepherd</h2>
              <p data-animation="fadeInUp" data-delay="700ms">Come to me, all of you who are tired from carrying heavy load, and I will give you rest.</p>
              <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Mattew 11:28</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Button -->
      <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Sunday Workship: 10:30 AM</a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta-text d-flex justify-content-between align-items-center">
          <h5><q>Help to carry one another burden (Gal 6:2)</q></h5>
          <a href="contact" class="btn faith-btn">Contact Us</a>
          <div class="col-sm-4">
            <audio controls loop="loop" autoplay>
                        <source src="audio/Count your Blessings.mp3">
                          </audio>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### CTA Area End ##### -->

<!-- ##### About Area Start ##### -->
<section class="faith-about-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="about-content">
          <img src="img/core-img/holy-star.png" alt="">

          <h2>“Blessed is the one who takes refuge <br>in him.”</h2>

          <h6>“Jesus said, I am telling you the truth; I am the gate for the sheep. I am the gate . Whoever comes in by Me will be saved,
            they will come in and go out and find pasture. The theif comes only in order to steal, kill and destroy. I have come in order
            that you might have life in all its fulliness. I am the good shepherd who is willing to die for the sheep. ”(Jn 10:7,9:11)</h6>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Church Activities Area Start ##### -->
<section class="church-activities-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mx-auto">
          <img src="img/core-img/cross.png" alt="">
          <h3><q>Be sure that the book of the law is always read in your worship. Study it day and night and make sure you obey everything written in it. Then you will be prosperous and successful</q>.(Joshua 1:8)</h3>
          <p>The word of God is alive and active</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <!-- Upcoming Events -->
        <div class="upcoming-events mb-100">
          <!-- Headline -->
          <div class="headline">
            <h5>Decemeber Readings</h5>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 01 <br /> Dec </h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event1.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="#">
                <h6>Love the greatest commandment</h6>
              </a>
              <p>1 corinthians 13: 1: 14</p>
            </div>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 02 <br> Dec</h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event2.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="#">
                <h6>Jesus the Light of the world</h6>
              </a>
              <p>John 8: 12 : 30</p>
            </div>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 03 <br> Dec</h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event3.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="#">
                <h6>Without faith you cannot please God</h6>
              </a>
              <p>Hebrew 11 : 1 : 39</p>
            </div>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 04 <br> Dec</h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event4.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="#">
                <h6>Blessings to Obedience of the Word of God</h6>
              </a>
              <p>Deuteronomy 7 : 12 : 26</p>
            </div>
          </div>



        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!-- Latest Sermons -->
        <div class="latest-sermons mb-100">
          <div class="headline">
            <h5>Inspirational Songs</h5>
          </div>

          <!-- Single Sermons Area -->
          <div class="single-sermons">
            <div class="sermons-content d-flex align-items-center">
              <!-- Sermons Thumbnail -->
              <div class="sermons-thumbnail bg-img" style="background-image: url(img/bg-img/ser1.jpg);"></div>
              <!-- Sermons Content -->
              <div class="sermons-text">
                <a href="#">
                  <h6>In all things give things to God</h6>
                </a>

              </div>
            </div>
            <div class="sermons-audio-player d-flex align-items-center">
              <audio preload="auto" controls>
                <source src="audio/Count your Blessings.mp3">
              </audio>

            </div>
          </div>

          <!-- Single Sermons Area -->
          <div class="single-sermons">
            <div class="sermons-content d-flex align-items-center">
              <!-- Sermons Thumbnail -->
              <div class="sermons-thumbnail bg-img" style="background-image: url(img/bg-img/ser2.jpg);"></div>
              <!-- Sermons Content -->
              <div class="sermons-text">
                <a href="#">
                  <h6>When you pray God send His angel. But when you prise God , He comes down by Himself </h6>
                </a>

              </div>
            </div>
            <div class="sermons-audio-player d-flex align-items-center">
              <audio preload="auto" controls>
                <source src="audio/Blessed Assurance.mp3">
              </audio>

            </div>
          </div>

          <!-- Single Sermons Area -->
          <div class="single-sermons">
            <div class="sermons-content d-flex align-items-center">
              <!-- Sermons Thumbnail -->
              <div class="sermons-thumbnail bg-img" style="background-image: url(img/bg-img/ser3.jpg);"></div>
              <!-- Sermons Content -->
              <div class="sermons-text">
                <a href="#">
                  <h6>Do whatever He tells you to do</h6>
                </a>

              </div>
            </div>
            <div class="sermons-audio-player d-flex align-items-center">
              <audio preload="auto" controls>
                <source src="audio/TRUST AND OBEY.mp3">
              </audio>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Church Activities Area End ##### -->

<!-- ##### Donate Area Start ##### -->
<section class="donate-our-charities section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-3.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading white text-center mx-auto">
          <h3>Feast of the Saints</h3>
          <p><q>When good people pray, the Lord listens, but He ignores those who are evil</q>(Proverbs 15 : 29)</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="donate-slides owl-carousel">
          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate2.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St Martin 1</h4>
              <p>13th April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal2" class="btn faith-btn active" data-toggle="modal">Read more</a>

            </div>
          </div>


          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate1.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St Agnes of Montepulciano</h4>
              <p>20th April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal3" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>


          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate6.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St Adalbert</h4>
              <p>23rd April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
            <a href="#costumModal4" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate7.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St Mark the Evangelist</h4>
              <p>25th April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal5" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate3.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4> St Zita</h4>
              <p>27th April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal6" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate4.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St Peter Chanel</h4>
              <p>28th April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
                <a href="#costumModal7" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>


          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate9.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St Catherine of Siena</h4>
              <p>29th April </p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
                <a href="#costumModal8" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate10.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>st Pius v </h4>
              <p>30th April</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal9" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>



        </div>
      </div>
    </div>
    <br />
  <center>
    <div>
      <a class="agnes" href="#" role="button">
        Read more on other saints
      </a>
    </div>
    </center>
    <div id="biography">

    </div>
  </div>
</section>
<br />
<!-- displaying the saints biography -->

<!-- st martin 1 -->
<div id="costumModal2" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4 class="modal-title">
            St Martin 1
          </h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate2.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>He was born near Todi, Umbria, in the place now named after him (Pian di San Martino). According to his biographer Theodore, Martin was of noble birth, of commanding intelligence, and of great charity to the poor. Piazza states that he
          belonged to the order of St. Basil.

          In 641, Pope John IV sent the abbot Martin into Dalmatia and Istria with large sums of money to alleviate the distress of the inhabitants, and redeem captives seized during the invasion of the Slavs. As the ruined churches could not be
          rebuilt, the relics of some of the more important Dalmatian saints were brought to Rome, where John then erected an oratory in their honour.

          He acted as papal apocrisiarius or legate at Constantinople in the early years of the pontificate of Pope Theodore I (642–49), and was a deacon at the time of his election in 649.
          At that time Constantinople was the capital of the Roman Empire and the patriarch of Constantinople was the most influential Church leader in the eastern Christian world. After his election,
          Martin had himself consecrated without waiting for the imperial confirmation.
          One of his first official acts was to summon the Lateran Council of 649 to deal with the Monothelites,
          whom the Church considered heretical<em class="read"><a href="#">Read more...</a></em>
        </p>
        <p class="readmore">
          The Council met in the church of St. John Lateran. It was attended by 105 bishops (chiefly from Italy, Sicily, and Sardinia, with a few from Africa and other quarters), held five sessions or secretarii from 5 October to 31 October 649, and
          in twenty canons condemned Monothelitism, its authors, and the writings by which Monothelitism had been promulgated. In this condemnation were included not only the Ecthesis (the exposition of faith of the Patriarch Sergius for which the
          emperor Heraclius had stood sponsor), but also the Type issued by the reigning emperor, Constans II
          Martin was very energetic in publishing the decrees of the Lateran Council of 649 in an encyclical, and Constans replied by enjoining his exarch in Italy to arrest the pope should he persist in this line of conduct and send Martin as a
          prisoner from Rome to Constantinople. He was also accused by Constans of unauthorised contact and collaboration with the Muslims of the Rashidun Caliphate—allegations which he was unable to convince the infuriated imperial authorities to
          drop.

          The arrest orders were impossible to carry out for a considerable period of time, but at last Martin was arrested in the Lateran on 17 June 653 along with Maximus the Confessor. He was hurried out of Rome and conveyed first to Naxos,
          Greece, and subsequently to Constantinople, where he arrived on 17 September 653. He was saved from execution by the pleas of Patriarch Paul II of Constantinople, who was himself gravely ill. After suffering an exhausting imprisonment and
          many alleged public indignities, he was ultimately banished to Chersonesus (present-day Crimea region), where he arrived on 15 May 655 and died on 16 September of that year.
          Since the 1969 revision of the General Roman Calendar, the memorial of Saint Martin I, which earlier versions of the calendar place on 12 November, is on 13 April, celebrated as the formal anniversary of his death.
          In the Eastern Orthodox Church, his feast day is 14 April</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>
<!-- st Agnes -->
<div id="costumModal3" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St Agnes of Montepulciano</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate1.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>



        <p>Agnes was born in 1268 into the noble Segni family in Gracciano,
          a frazione of Montepulciano, then part of the Papal States. At the age of nine,
          she convinced her parents to allow her to enter a Franciscan monastery of women in the city known
          as the "Sisters of the Sack", after the rough religious habit they wore. They lived a simple,
          contemplative life. She received the permission of the Pope to be accepted into this life at such a
          young age, which was normally against Church law.

          In 1281, the lord of the castle of Proceno, a fief of Orvieto, invited the nuns of Montepulciano to send some of their Sisters to Proceno to found a new monastery. Agnes was among the nuns sent to found this new community. At the age of
          fourteen she was appointed bursar.[3]

          In 1288 Agnes, despite her youth at only 20 years of age, was noted for her devotion to the Blessed Sacrament and deep life of prayer, and was elected as the abbess of the community. There she gained a reputation for performing miracles;
          people suffering from mental and physical ailments seemed cured by her presence. She was reported to have "multiplied loaves", creating many from a few on numerous occasions, recalling the Gospel miracle of the loaves and fishes. She
          herself, however, suffered severe bouts of illness which lasted long periods of time.<em class="read1"><a href="#">Read more...</a></em></p>
        <p class="readmore1">

          In 1306, Agnes was recalled to head the monastery in Montepulciano. Agnes reached a high degree of contemplative prayer and is said to have been favored with many visions. After her return, she proceeded to build a church, Santa Maria
          Novella in Florence, to honor the Blessed Mother, as she felt she had been commanded to do in a mystical vision several years earlier. She also had a vision of St. Dominic Guzman, under the inspiration of which she led the nuns of her
          monastery to embrace the Rule of St. Augustine as members of the Dominican Order. She was frequently called upon to bring peace to the warring families of the city.

          By 1316, Agnes' health had declined so greatly that her doctor suggested taking the cure at the thermal springs in the neighboring town of Chianciano Terme. The nuns of the community prevailed upon her to take his recommendation. While many
          of the other bathers reported being cured of their illnesses, Agnes herself received no benefit from the springs. Her health failed to such a degree that she had to be carried back to the monastery on a stretcher.

          Agnes died the following 20 April, at the age of forty-nine. The Dominican friars attempted to obtain balsam (or myrrh) to embalm her body. It was found, however, to be producing a sweet odor on its own, and her limbs remained supple.[2]

          When her body was moved years after her death to the monastery church, it was found to be incorrupt.
          Her tomb became the site of pilgrimages.

          Some fifty years later, a Dominican friar, the Blessed Raymond of Capua, who served as confessor to
          St. Catherine of Siena, wrote an account of Agnes' life. He described her body as still appearing as
          if she were alive. Catherine herself referred to her as "Our mother, the glorious Agnes".
          Catherine made a pilgrimage to Montepulciano while visiting her niece, Eugenie, who was a nun there.

          Agnes was canonized by Pope Benedict XIII in 1726.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>

<!-- st Adalbert -->
<div id="costumModal4" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St Adalbert</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate6.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
      <p>
        The first bishop of Prague to have been born in Bohemia, St. Adalbert was born Voytech c. 956 into a noble family. He was sent to Magdeburg to be educated and took the name of his catechist when he was baptized. After the death of his mentor
        in 981, Adalbert, who had grand visions of missionary work and clerical reform, returned to Prague, and in the following year, he became the second bishop of Prague. Conflict developed between the bishop and the duke of Bohemia, Boleslaus II,
        and in 990, Adalbert travelled to Rome, where he became a monk. John XV ordered him back to Prague two years later, and Gregory V released him from his episcopal duties in 995, after the massacre, at the order of Boleslaus, of Adalbert's
        family at Libice. During these five years in Prague, Adalbert founded the abbey of Brevnov. Boleslaus I, duke of Poland, invited him to evangelize the Prussians of Pomerania; Adalbert was killed on the suspicion of being a Polish spy.
        Boleslaus I buried Adalbert's body at Gniezno, Poland, whence it was transported in 1039 to Prague. Adalbert was canonized in 999.

        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>
<!-- st mark the evangelist -->
<div id="costumModal5" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St Mark the Evangelist</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate7.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          Much of what we know about St. Mark, the author of the Second Gospel, comes largely from the New Testament and early Christian traditions. Mark the Evangelist is believed to be the 'John Mark' referred to in the Acts of the Apostles, the
          history of the early Church found in the Canon of the New Testament.

          He was the son of Mary of Jerusalem (Acts 12:12) whose home became a meeting place for the apostles. He is also the cousin of St. Barnabas (Colossians 4:10), a Levite and a Cypriot.

          Mark joined St. Paul and St. Barnabas on their first missionary journey to Antioch in 44 A.D. When the group reached Cyprus, Christian tradition holds that Mark left them and returned to Jerusalem, possibly because he was missing his home
          (Acts 13:13). This incident may have caused Paul to question whether Mark could be a reliable missionary. This created a disagreement between Paul and Barnabas and led Paul to refuse Mark's accompaniment on their second journey to the
          churches of Cilicia and the rest of Asia Minor.

          However, it can be assumed the troubles between Paul and Mark did not last long, because when Paul was first imprisoned, Mark, who was at the time in Rome with plans of visiting Asia Minor,
          visited him as one of his trusted companions (Col 4:10). <em class="read2"><a href="#">Read more...</a></em></p>
        <p class="readmore2">
          In the Gospel of Mark, Mark describes Saint John the Baptist's voice (which witnesses said sounded like a roaring lion) crying out in the wilderness to prepare the way for Jesus' ministry, and Mark himself helped deliver the Gospel message to
          people with boldness, like a lion. So people began associating Saint Mark with lions. Mark is one of the four evangelists that the prophet Ezekiel saw in a miraculous vision of the future many years before Jesus came to earth; Mark appeared
          in the vision as a lion.


          Mark traveled to Egypt and founded the Coptic Orthodox Church there, bringing the Gospel message to Africa and becoming the first bishop of Alexandria St. Mark lived for years in Alexandria, where he died as a martyr while being dragged
          through the streets. He served many people there, founding churches and the first Christian school.

          In 68 AD, pagans who persecuted Christians captured, tortured, and imprisoned Mark. He reportedly saw visions of angels and heard the voice of Jesus speaking to him before he died. After Mark's death, sailors stole relics from his body and
          took them to Venice, Italy. Christians honored Mark by building St. Mark's Basilica there.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>

<!-- st zita -->

<div id="costumModal6" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St Mark the Evangelist</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate3.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          Zita was born in Tuscany in the village of Monsagrati, not far from Lucca where, at the age of 12, she became a servant in the Fatinelli household. For a long time, she was unjustly despised, overburdened, reviled, and often beaten by her
          employers and fellow servants for her hard work and obvious goodness. The incessant ill-usage, however, was powerless to deprive her of her inward peace, her love of those who wronged her, and her respect for her employers. By this meek and
          humble self-restraint, Zita at last succeeded in overcoming the malice of her fellow-servants and her employers, so much so that she was placed in charge of all the affairs of the house. Her faith had enabled her to persevere against their
          abuse, and her constant piety gradually moved the family to a religious awakening.

          Zita often said to others that devotion is false if slothful. She considered her work as an employment assigned to her by God, and as part of her penance, and obeyed her master and mistress in all things as being placed over her by God. She
          always rose several hours before the rest of the family and employed in prayer a considerable part of the time which others gave to sleep. She took care to hear mass every morning with great devotion before she was called upon by the duties
          of her station, in which she was employed the whole day, with such diligence and fidelity that she seemed to be carried to them on wings, and studied when possible to anticipate them.
          <em class="read3"><a href="#">Read more...</a></em></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
              Close
            </button>

          </div>
        </div>
      </div>
    </div>


<!-- st peter Chanel -->

<div id="costumModal7" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St Peter Chanel</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate4.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          Chanel was born in 1803 in the hamlet of La Potière near Montrevel-en-Bresse, Ain département, France. Son of Claude-François Chanel and Marie-Anne Sibellas he was the fifth of eight children. From about the age of 7 to 12 he worked as a
          shepherd. The local parish priest persuaded his parents to allow Peter to attend a small school the priest had started. After some local schooling, his piety and intelligence attracted the attention of a visiting priest from Cras, Fr.
          Trompier, and he was put into Church-sponsored education at Cras in the autumn of 1814. He made his first communion on 23 March 1817.

          It was from that time that Chanel's attraction for the missions abroad began. His interest began when he read letters from missionaries to America sent back by Bishop Louis William Valentine Dubourg. He later said, "It was that year that I
          formed the idea of going to the foreign missions." In 1819 he entered the minor seminary at Meximieux where he won several awards and class prizes in Latin, Christian doctrine and speech. He attended Belley in 1823, and the major seminary at
          Brou in 1824.
          In 1831, at the age of 28, Chanel joined the forming Society of Mary (Marists), who would concentrate on local missions and foreign missionary work. Instead of selecting him as a missionary, however, the Marists appointed him as the spiritual
          director at the seminary of Belley, where he stayed for five years.
          <em class="read4"><a href="#">Read more...</a></em></p>

        <p class="readmore4">
          In 1833, he accompanied Fr. Jean-Claude Colin to Rome to seek approval of the nascent Society. In 1836, the Marists, finally formally approved by Pope Gregory XVI, were asked to send missionaries to the territory of the southwest Pacific.
          Chanel, professed a Marist on 24 September 1836, was made the superior of a band of seven Marist missionaries that set out on 24 December from Le Havre. They were accompanied by Bishop Jean Baptiste Pompallier who was to become the first
          Bishop of New Zealand.

          Chanel traveled first to the Canary Islands (8 January 1837), where his friend, Fr. Claude Bret, caught a flu-like virus which led to his death at sea (20 March 1837). Next, Chanel traveled to Valparaíso, Chile (28 June), where the French
          Congregation of the Sacred Hearts of Jesus and Mary ("Picpus Fathers"), who had care of the Apostolic Vicariate of Eastern Oceania, had their base. His third and fourth stops were in the Gambier Islands (13 September) and in Tahiti (21
          September), where the group transferred to the ship Raiatea. In that ship, they set sail (23 October) to drop off two missionaries at Wallis, the main seat of the mission in Tonga. The missionaries arrived at Vava’u but were not welcome, and
          thus continued their journey to Futuna. Pierre Chanel went to neighboring Futuna, accompanied by a French lay brother Marie-Nizier Delorme. They arrived on 8 November 1837 with an English Protestant layman named Thomas Boag, who had been
          resident on the island and had joined them at Tonga seeking passage to Futuna.
          The group was initially well received by Futuna's king, Niuliki. Chanel struggled to learn the language but eventually mastered it. Despite little apparent success and severe want, he maintained endless patience and courage. It was a
          difficult mission, requiring him to cope with isolation and acclimate to different foods and customs, but it eventually began to bear some fruit. A few natives had been baptized while a few more were being instructed. King Niuliki believed
          Christianity would undermine his authority as high priest and king. When his son, Meitala, sought to be baptized, the king sent a favored warrior, his son-in-law, Musumusu, to "do whatever was necessary" to resolve the problem. Musumusu
          initially went to Meitala and the two fought. Musumusu, injured in the fracas, went to Chanel feigning need of medical attention. While Chanel tended him, a group of others ransacked his house. Musumusu took an ax and clubbed Chanel to death.
          Chanel died on 28 April 1841
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
    </div>
    </div>
<!-- st Catherine of Siena -->
<div id="costumModal8" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St Catherine of Siena</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate9.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          She was born and raised in Siena, and at an early age wanted to devote herself to God, against the will of her parents. She joined the Dominican tertiaries. She made herself known very quickly by being marked by mystical phenomena such as
          invisible stigmata and a mystical marriage.[3] Her influence with Pope Gregory XI played a role in his decision to leave Avignon for Rome. She was then sent by him to negotiate peace with Florence. After Gregory XI's death and peace
          concluded, she returned to Siena. She dictated to secretaries her set of spiritual treatises The Dialogue of Divine Providence. The Great Schism of the West led Catherine of Siena to go to Rome with the pope. She sent numerous letters to
          princes and cardinals to promote obedience to Pope Urban VI and defend what she calls the "vessel of the Church." She died on 29 April 1380, exhausted by her penances. Urban VI celebrated her funeral and burial in the Basilica of Santa Maria
          sopra Minerva in Rome.
          St. Catherine's feast day is April 29, she is the patroness against fire, illness, the United States, Italy, miscarriages, people ridiculed for their faith, sexual temptation, and nurses.

        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
    </div>
    </div>

    <div id="costumModal9" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

            <center>
              <h4> St Catherine of Siena</h4>
            </center>
          </div>
          <div class="modal-body">
            <center>
              <img src="img/bg-img/donate10.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
            </center>
            <p>
              His original name Antonio Ghislieri Born at Bosco, near Alexandria, Lombardy, 17 Jan., 1504 elected 7 Jan., 1566; died 1 May, 1572. Being of a poor though noble family his lot would have been to follow a trade, but he was taken in by the
              Dominicans of Voghera, where he received a good education and was trained in the way of solid and austere piety. He entered the order, was ordained in 1528, and taught theology and philosophy for sixteen years. In the meantime he was master
              of novices and was on several occasions elected prior of different houses of his order in which he strove to develop the practice of the monastic virtues and spread the spirit of the holy founder. He himself was an example to all. He fasted,
              did penance, passed long hours of the night in meditation and prayer, traveled on foot without a cloak in deep silence, or only speaking to his companions of the things of God. In 1556 he was made Bishop of Sutri by Paul IV. His zeal against
              heresy caused him to be selected as inquisitor of the faith in Milan and Lombardy, and in 1557 Paul IV made him a cardinal and named him inquisitor general for all Christendom. In 1559 he was transferred to Mondovì, where he restored the
              purity of faith and discipline, gravely impaired by the wars of Piedmont. Frequently called to Rome, he displayed his unflinching zeal in all the affairs on which he was consulted.
              <em class="read5"><a href="#">Read more...</a></em></p>

            <p class="readmore5">


              Thus he offered an insurmountable opposition to Pius IV when the latter wished to admit Ferdinand de' Medici, then only thirteen years old, into the Sacred College. Again it was he who defeated the project of Maximilian II, Emperor of
              Germany, to abolish ecclesiastical celibacy. On the death of Pius IV, he was, despite his tears and entreaties, elected pope, to the great joy of the whole Church.

              He began his pontificate by giving large alms to the poor, instead of distributing his bounty at haphazard like his predecessors. As pontiff he practiced the virtues he had displayed as a monk and a bishop. His piety was not diminished, and,
              in spite of the heavy labours and anxieties of his office, he made at least two meditations a day on bended knees in presence of the Blessed Sacrament. In his charity he visited the hospitals, and sat by the bedside of the sick, consoling
              them and preparing them to die. He washed the feet of the poor, and embraced the lepers. It is related that an English nobleman was converted on seeing him kiss the feet of a beggar covered with ulcers. He was very austere and banished luxury
              from his court, raised the standard of morality, laboured with his intimate friend, St. Charles Borromeo, to reform the clergy, obliged his bishops to reside in their dioceses, and the cardinals to lead lives of simplicity and piety. He
              diminished public scandals by relegating prostitutes to distant quarters, and he forbade bull fights. He enforced the observance of the discipline of the Council of Trent, reformed the Cistercians, and supported the missions of the New World.
              In the Bull "In Coena Domini" he proclaimed the traditional principles of the Roman Church and the supremacy of the Holy See over the civil power.

              But the great thought and the constant preoccupation of his pontificate seems to have been the struggle against the Protestants and the Turks. In Germany he supported the Catholics oppressed by the heretical princes. In France he encouraged
              the League by his counsels and with pecuniary aid. In the Low Countries he supported Spain. In England, finally, he excommunicated Elizabeth, embraced the cause of Mary Stuart, and wrote to console her in prison. In the ardour of his faith he
              did not hesitate to display severity against the dissidents when necessary, and to give a new impulse to the activity of the Inquisition, for which he has been blamed by certain historians who have exaggerated his conduct. Despite all
              representations on his behalf he condemned the writings of Baius, who ended by submitting.
              <em class="read6"><a href="#">Read more...</a></em></p>
            <p class="readmore6">
              He worked incessantly to unite the Christian princes against the hereditary enemy, the Turks. In the first year of his pontificate he had ordered a solemn jubilee, exhorting the faithful to penance and almsgiving to obtain the victory from
              God. He supported the Knights of Malta, sent money for the fortification of the free towns of Italy, furnished monthly contributions to the Christians of Hungary, and endeavoured especially to bring Maximilian, Philip II, and Charles I
              together for the defence of Christendom. In 1567 for the same purpose he collected from all convents one-tenth of their revenues. In 1570 when Solyman II attacked Cyprus, threatening all Christianity in the West, he never rested till he
              united the forces of Venice, Spain, and the Holy See. He sent his blessing to Don John of Austria, the commander-in-chief of the expedition, recommending him to leave behind all soldiers of evil life, and promising him the victory if he did
              so. He ordered public prayers, and increased his own supplications to heaven. On the day of the Battle of Lepanto, 7 Oct., 1571, he was working with the cardinals, when, suddenly, interrupting his work opening the window and looking at the
              sky, he cried out, "A truce to business; our great task at present is to thank God for the victory which He has just given the Christian army". He burst into tears when he heard of the victory, which dealt the Turkish power a blow from which
              it never recovered. In memory of this triumph he instituted for the first Sunday of October the feast of the Rosary, and added to the Litany of Loreto the supplication "Help of Christians". He was hoping to put an end to the power of Islam by
              forming a general alliance of the Italian cities Poland, France, and all Christian Europe, and had begun negotiations for this purpose when he died of gravel, repeating "O Lord, increase my sufferings and my patience!" He left the memory of a
              rare virtue and an unfailing and inflexible integrity. He was beatified by Clement X in 1672, and canonized by Clement XI in 1712.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
              Close
            </button>

          </div>
        </div>
        </div>
        </div>

<section class="saints-background">

  <div class="section-heading  mx-auto saint-text">

    <div id="div1" class="first current">
      <center>
        <h4> St Martin 1</h4>
        <img src="img/bg-img/donate2.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>

      <p>He was born near Todi, Umbria, in the place now named after him (Pian di San Martino). According to his biographer Theodore, Martin was of noble birth, of commanding intelligence, and of great charity to the poor. Piazza states that he
        belonged to the order of St. Basil.

        In 641, Pope John IV sent the abbot Martin into Dalmatia and Istria with large sums of money to alleviate the distress of the inhabitants, and redeem captives seized during the invasion of the Slavs. As the ruined churches could not be
        rebuilt, the relics of some of the more important Dalmatian saints were brought to Rome, where John then erected an oratory in their honour.

        He acted as papal apocrisiarius or legate at Constantinople in the early years of the pontificate of Pope Theodore I (642–49), and was a deacon at the time of his election in 649.
        At that time Constantinople was the capital of the Roman Empire and the patriarch of Constantinople was the most influential Church leader in the eastern Christian world. After his election,
        Martin had himself consecrated without waiting for the imperial confirmation.
        One of his first official acts was to summon the Lateran Council of 649 to deal with the Monothelites,
        whom the Church considered heretical<em class="read"><a href="#">Read more...</a></em>
      </p>
      <p class="readmore">
        The Council met in the church of St. John Lateran. It was attended by 105 bishops (chiefly from Italy, Sicily, and Sardinia, with a few from Africa and other quarters), held five sessions or secretarii from 5 October to 31 October 649, and in
        twenty canons condemned Monothelitism, its authors, and the writings by which Monothelitism had been promulgated. In this condemnation were included not only the Ecthesis (the exposition of faith of the Patriarch Sergius for which the emperor
        Heraclius had stood sponsor), but also the Type issued by the reigning emperor, Constans II
        Martin was very energetic in publishing the decrees of the Lateran Council of 649 in an encyclical, and Constans replied by enjoining his exarch in Italy to arrest the pope should he persist in this line of conduct and send Martin as a
        prisoner from Rome to Constantinople. He was also accused by Constans of unauthorised contact and collaboration with the Muslims of the Rashidun Caliphate—allegations which he was unable to convince the infuriated imperial authorities to
        drop.

        The arrest orders were impossible to carry out for a considerable period of time, but at last Martin was arrested in the Lateran on 17 June 653 along with Maximus the Confessor. He was hurried out of Rome and conveyed first to Naxos, Greece,
        and subsequently to Constantinople, where he arrived on 17 September 653. He was saved from execution by the pleas of Patriarch Paul II of Constantinople, who was himself gravely ill. After suffering an exhausting imprisonment and many
        alleged public indignities, he was ultimately banished to Chersonesus (present-day Crimea region), where he arrived on 15 May 655 and died on 16 September of that year.
        Since the 1969 revision of the General Roman Calendar, the memorial of Saint Martin I, which earlier versions of the calendar place on 12 November, is on 13 April, celebrated as the formal anniversary of his death.
        In the Eastern Orthodox Church, his feast day is 14 April</p>
    </div>

    <div id="div2">
      <center>
        <h4> St Agnes of Montepulciano</h4>
        <img src="img/bg-img/donate1.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>

      <p>Agnes was born in 1268 into the noble Segni family in Gracciano,
        a frazione of Montepulciano, then part of the Papal States. At the age of nine,
        she convinced her parents to allow her to enter a Franciscan monastery of women in the city known
        as the "Sisters of the Sack", after the rough religious habit they wore. They lived a simple,
        contemplative life. She received the permission of the Pope to be accepted into this life at such a
        young age, which was normally against Church law.

        In 1281, the lord of the castle of Proceno, a fief of Orvieto, invited the nuns of Montepulciano to send some of their Sisters to Proceno to found a new monastery. Agnes was among the nuns sent to found this new community. At the age of
        fourteen she was appointed bursar.[3]

        In 1288 Agnes, despite her youth at only 20 years of age, was noted for her devotion to the Blessed Sacrament and deep life of prayer, and was elected as the abbess of the community. There she gained a reputation for performing miracles;
        people suffering from mental and physical ailments seemed cured by her presence. She was reported to have "multiplied loaves", creating many from a few on numerous occasions, recalling the Gospel miracle of the loaves and fishes. She herself,
        however, suffered severe bouts of illness which lasted long periods of time.<em class="read1"><a href="#">Read more...</a></em></p>
      <p class="readmore1">

        In 1306, Agnes was recalled to head the monastery in Montepulciano. Agnes reached a high degree of contemplative prayer and is said to have been favored with many visions. After her return, she proceeded to build a church, Santa Maria Novella
        in Florence, to honor the Blessed Mother, as she felt she had been commanded to do in a mystical vision several years earlier. She also had a vision of St. Dominic Guzman, under the inspiration of which she led the nuns of her monastery to
        embrace the Rule of St. Augustine as members of the Dominican Order. She was frequently called upon to bring peace to the warring families of the city.

        By 1316, Agnes' health had declined so greatly that her doctor suggested taking the cure at the thermal springs in the neighboring town of Chianciano Terme. The nuns of the community prevailed upon her to take his recommendation. While many
        of the other bathers reported being cured of their illnesses, Agnes herself received no benefit from the springs. Her health failed to such a degree that she had to be carried back to the monastery on a stretcher.

        Agnes died the following 20 April, at the age of forty-nine. The Dominican friars attempted to obtain balsam (or myrrh) to embalm her body. It was found, however, to be producing a sweet odor on its own, and her limbs remained supple.[2]

        When her body was moved years after her death to the monastery church, it was found to be incorrupt.
        Her tomb became the site of pilgrimages.

        Some fifty years later, a Dominican friar, the Blessed Raymond of Capua, who served as confessor to
        St. Catherine of Siena, wrote an account of Agnes' life. He described her body as still appearing as
        if she were alive. Catherine herself referred to her as "Our mother, the glorious Agnes".
        Catherine made a pilgrimage to Montepulciano while visiting her niece, Eugenie, who was a nun there.

        Agnes was canonized by Pope Benedict XIII in 1726.</p>
    </div>
    <div id="div3">
      <center>
        <h4> St Adalbert</h4>
        <img src="img/bg-img/donate6.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>
      <p>


        The first bishop of Prague to have been born in Bohemia, St. Adalbert was born Voytech c. 956 into a noble family. He was sent to Magdeburg to be educated and took the name of his catechist when he was baptized. After the death of his mentor
        in 981, Adalbert, who had grand visions of missionary work and clerical reform, returned to Prague, and in the following year, he became the second bishop of Prague. Conflict developed between the bishop and the duke of Bohemia, Boleslaus II,
        and in 990, Adalbert travelled to Rome, where he became a monk. John XV ordered him back to Prague two years later, and Gregory V released him from his episcopal duties in 995, after the massacre, at the order of Boleslaus, of Adalbert's
        family at Libice. During these five years in Prague, Adalbert founded the abbey of Brevnov. Boleslaus I, duke of Poland, invited him to evangelize the Prussians of Pomerania; Adalbert was killed on the suspicion of being a Polish spy.
        Boleslaus I buried Adalbert's body at Gniezno, Poland, whence it was transported in 1039 to Prague. Adalbert was canonized in 999.</p>

    </div>

    <div id="div4">
      <center>
        <h4> St Mark the evangelist</h4>
        <img src="img/bg-img/donate7.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>
      <p>
        Much of what we know about St. Mark, the author of the Second Gospel, comes largely from the New Testament and early Christian traditions. Mark the Evangelist is believed to be the 'John Mark' referred to in the Acts of the Apostles, the
        history of the early Church found in the Canon of the New Testament.

        He was the son of Mary of Jerusalem (Acts 12:12) whose home became a meeting place for the apostles. He is also the cousin of St. Barnabas (Colossians 4:10), a Levite and a Cypriot.

        Mark joined St. Paul and St. Barnabas on their first missionary journey to Antioch in 44 A.D. When the group reached Cyprus, Christian tradition holds that Mark left them and returned to Jerusalem, possibly because he was missing his home
        (Acts 13:13). This incident may have caused Paul to question whether Mark could be a reliable missionary. This created a disagreement between Paul and Barnabas and led Paul to refuse Mark's accompaniment on their second journey to the
        churches of Cilicia and the rest of Asia Minor.

        However, it can be assumed the troubles between Paul and Mark did not last long, because when Paul was first imprisoned, Mark, who was at the time in Rome with plans of visiting Asia Minor,
        visited him as one of his trusted companions (Col 4:10). <em class="read2"><a href="#">Read more...</a></em></p>
      <p class="readmore2">
        In the Gospel of Mark, Mark describes Saint John the Baptist's voice (which witnesses said sounded like a roaring lion) crying out in the wilderness to prepare the way for Jesus' ministry, and Mark himself helped deliver the Gospel message to
        people with boldness, like a lion. So people began associating Saint Mark with lions. Mark is one of the four evangelists that the prophet Ezekiel saw in a miraculous vision of the future many years before Jesus came to earth; Mark appeared
        in the vision as a lion.


        Mark traveled to Egypt and founded the Coptic Orthodox Church there, bringing the Gospel message to Africa and becoming the first bishop of Alexandria St. Mark lived for years in Alexandria, where he died as a martyr while being dragged
        through the streets. He served many people there, founding churches and the first Christian school.

        In 68 AD, pagans who persecuted Christians captured, tortured, and imprisoned Mark. He reportedly saw visions of angels and heard the voice of Jesus speaking to him before he died. After Mark's death, sailors stole relics from his body and
        took them to Venice, Italy. Christians honored Mark by building St. Mark's Basilica there.
      </p>
    </div>



    <div id="div5">
      <center>
        <h4> St Zita</h4>
        <img src="img/bg-img/donate3.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>
      <p>
        Zita was born in Tuscany in the village of Monsagrati, not far from Lucca where, at the age of 12, she became a servant in the Fatinelli household. For a long time, she was unjustly despised, overburdened, reviled, and often beaten by her
        employers and fellow servants for her hard work and obvious goodness. The incessant ill-usage, however, was powerless to deprive her of her inward peace, her love of those who wronged her, and her respect for her employers. By this meek and
        humble self-restraint, Zita at last succeeded in overcoming the malice of her fellow-servants and her employers, so much so that she was placed in charge of all the affairs of the house. Her faith had enabled her to persevere against their
        abuse, and her constant piety gradually moved the family to a religious awakening.

        Zita often said to others that devotion is false if slothful. She considered her work as an employment assigned to her by God, and as part of her penance, and obeyed her master and mistress in all things as being placed over her by God. She
        always rose several hours before the rest of the family and employed in prayer a considerable part of the time which others gave to sleep. She took care to hear mass every morning with great devotion before she was called upon by the duties
        of her station, in which she was employed the whole day, with such diligence and fidelity that she seemed to be carried to them on wings, and studied when possible to anticipate them.
        <em class="read3"><a href="#">Read more...</a></em></p>

      <p class="readmore3">


        One anecdote relates a story of Zita giving her own food or that of her master to the poor. On one morning, Zita left her chore of baking bread to tend to someone in need. Some of the other servants made sure the Fatinelli family was aware of
        what happened; when they went to investigate, they claimed to have found angels in the Fatinelli kitchen, baking the bread for her.
        Zita died peacefully in the Fatinelli house on April 27, 1272. It is said that a star appeared above the attic where she slept at the moment of her death. She was 60 years old, and had served and edified the family for 48 years. By the time
        of her death, she had become practically venerated by the family. After one hundred and fifty miracles had been attributed to Zita's intercession and recognized by the church, she was canonized in 1696.

        Her body was exhumed in 1580, discovered to be incorrupt, but has since become mummified. Saint Zita's body is currently on display for public veneration in the Basilica di San Frediano in Lucca.

        Her feast day in the Roman Catholic Church is April 27. To this day, families bake a loaf of bread in celebration of Saint Zita's feast day.

      </p>
    </div>


    <div id="div6">
      <center>
        <h4> St Peter Chanel</h4>
        <img src="img/bg-img/donate4.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>
      <p>
        Chanel was born in 1803 in the hamlet of La Potière near Montrevel-en-Bresse, Ain département, France. Son of Claude-François Chanel and Marie-Anne Sibellas he was the fifth of eight children. From about the age of 7 to 12 he worked as a
        shepherd. The local parish priest persuaded his parents to allow Peter to attend a small school the priest had started. After some local schooling, his piety and intelligence attracted the attention of a visiting priest from Cras, Fr.
        Trompier, and he was put into Church-sponsored education at Cras in the autumn of 1814. He made his first communion on 23 March 1817.

        It was from that time that Chanel's attraction for the missions abroad began. His interest began when he read letters from missionaries to America sent back by Bishop Louis William Valentine Dubourg. He later said, "It was that year that I
        formed the idea of going to the foreign missions." In 1819 he entered the minor seminary at Meximieux where he won several awards and class prizes in Latin, Christian doctrine and speech. He attended Belley in 1823, and the major seminary at
        Brou in 1824.
        In 1831, at the age of 28, Chanel joined the forming Society of Mary (Marists), who would concentrate on local missions and foreign missionary work. Instead of selecting him as a missionary, however, the Marists appointed him as the spiritual
        director at the seminary of Belley, where he stayed for five years.
        <em class="read4"><a href="#">Read more...</a></em></p>

      <p class="readmore4">
        In 1833, he accompanied Fr. Jean-Claude Colin to Rome to seek approval of the nascent Society. In 1836, the Marists, finally formally approved by Pope Gregory XVI, were asked to send missionaries to the territory of the southwest Pacific.
        Chanel, professed a Marist on 24 September 1836, was made the superior of a band of seven Marist missionaries that set out on 24 December from Le Havre. They were accompanied by Bishop Jean Baptiste Pompallier who was to become the first
        Bishop of New Zealand.

        Chanel traveled first to the Canary Islands (8 January 1837), where his friend, Fr. Claude Bret, caught a flu-like virus which led to his death at sea (20 March 1837). Next, Chanel traveled to Valparaíso, Chile (28 June), where the French
        Congregation of the Sacred Hearts of Jesus and Mary ("Picpus Fathers"), who had care of the Apostolic Vicariate of Eastern Oceania, had their base. His third and fourth stops were in the Gambier Islands (13 September) and in Tahiti (21
        September), where the group transferred to the ship Raiatea. In that ship, they set sail (23 October) to drop off two missionaries at Wallis, the main seat of the mission in Tonga. The missionaries arrived at Vava’u but were not welcome, and
        thus continued their journey to Futuna. Pierre Chanel went to neighboring Futuna, accompanied by a French lay brother Marie-Nizier Delorme. They arrived on 8 November 1837 with an English Protestant layman named Thomas Boag, who had been
        resident on the island and had joined them at Tonga seeking passage to Futuna.
        The group was initially well received by Futuna's king, Niuliki. Chanel struggled to learn the language but eventually mastered it. Despite little apparent success and severe want, he maintained endless patience and courage. It was a
        difficult mission, requiring him to cope with isolation and acclimate to different foods and customs, but it eventually began to bear some fruit. A few natives had been baptized while a few more were being instructed. King Niuliki believed
        Christianity would undermine his authority as high priest and king. When his son, Meitala, sought to be baptized, the king sent a favored warrior, his son-in-law, Musumusu, to "do whatever was necessary" to resolve the problem. Musumusu
        initially went to Meitala and the two fought. Musumusu, injured in the fracas, went to Chanel feigning need of medical attention. While Chanel tended him, a group of others ransacked his house. Musumusu took an ax and clubbed Chanel to death.
        Chanel died on 28 April 1841
      </p>
    </div>


    <div id="div7">
      <center>
        <h4> St. Catherine of Siena</h4>
        <img src="img/bg-img/donate9.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>
      <p>
        She was born and raised in Siena, and at an early age wanted to devote herself to God, against the will of her parents. She joined the Dominican tertiaries. She made herself known very quickly by being marked by mystical phenomena such as
        invisible stigmata and a mystical marriage.[3] Her influence with Pope Gregory XI played a role in his decision to leave Avignon for Rome. She was then sent by him to negotiate peace with Florence. After Gregory XI's death and peace
        concluded, she returned to Siena. She dictated to secretaries her set of spiritual treatises The Dialogue of Divine Providence. The Great Schism of the West led Catherine of Siena to go to Rome with the pope. She sent numerous letters to
        princes and cardinals to promote obedience to Pope Urban VI and defend what she calls the "vessel of the Church." She died on 29 April 1380, exhausted by her penances. Urban VI celebrated her funeral and burial in the Basilica of Santa Maria
        sopra Minerva in Rome.
        St. Catherine's feast day is April 29, she is the patroness against fire, illness, the United States, Italy, miscarriages, people ridiculed for their faith, sexual temptation, and nurses.

      </p>
    </div>


    <div id="div8" class="last">
      <center>
        <h4> St. Pius v</h4>
        <img src="img/bg-img/donate10.jpg" alt="" class="rounded-circle saintsimg-height">
      </center>
      <p>
        His original name Antonio Ghislieri Born at Bosco, near Alexandria, Lombardy, 17 Jan., 1504 elected 7 Jan., 1566; died 1 May, 1572. Being of a poor though noble family his lot would have been to follow a trade, but he was taken in by the
        Dominicans of Voghera, where he received a good education and was trained in the way of solid and austere piety. He entered the order, was ordained in 1528, and taught theology and philosophy for sixteen years. In the meantime he was master
        of novices and was on several occasions elected prior of different houses of his order in which he strove to develop the practice of the monastic virtues and spread the spirit of the holy founder. He himself was an example to all. He fasted,
        did penance, passed long hours of the night in meditation and prayer, traveled on foot without a cloak in deep silence, or only speaking to his companions of the things of God. In 1556 he was made Bishop of Sutri by Paul IV. His zeal against
        heresy caused him to be selected as inquisitor of the faith in Milan and Lombardy, and in 1557 Paul IV made him a cardinal and named him inquisitor general for all Christendom. In 1559 he was transferred to Mondovì, where he restored the
        purity of faith and discipline, gravely impaired by the wars of Piedmont. Frequently called to Rome, he displayed his unflinching zeal in all the affairs on which he was consulted.
        <em class="read5"><a href="#">Read more...</a></em></p>

      <p class="readmore5">


        Thus he offered an insurmountable opposition to Pius IV when the latter wished to admit Ferdinand de' Medici, then only thirteen years old, into the Sacred College. Again it was he who defeated the project of Maximilian II, Emperor of
        Germany, to abolish ecclesiastical celibacy. On the death of Pius IV, he was, despite his tears and entreaties, elected pope, to the great joy of the whole Church.

        He began his pontificate by giving large alms to the poor, instead of distributing his bounty at haphazard like his predecessors. As pontiff he practiced the virtues he had displayed as a monk and a bishop. His piety was not diminished, and,
        in spite of the heavy labours and anxieties of his office, he made at least two meditations a day on bended knees in presence of the Blessed Sacrament. In his charity he visited the hospitals, and sat by the bedside of the sick, consoling
        them and preparing them to die. He washed the feet of the poor, and embraced the lepers. It is related that an English nobleman was converted on seeing him kiss the feet of a beggar covered with ulcers. He was very austere and banished luxury
        from his court, raised the standard of morality, laboured with his intimate friend, St. Charles Borromeo, to reform the clergy, obliged his bishops to reside in their dioceses, and the cardinals to lead lives of simplicity and piety. He
        diminished public scandals by relegating prostitutes to distant quarters, and he forbade bull fights. He enforced the observance of the discipline of the Council of Trent, reformed the Cistercians, and supported the missions of the New World.
        In the Bull "In Coena Domini" he proclaimed the traditional principles of the Roman Church and the supremacy of the Holy See over the civil power.

        But the great thought and the constant preoccupation of his pontificate seems to have been the struggle against the Protestants and the Turks. In Germany he supported the Catholics oppressed by the heretical princes. In France he encouraged
        the League by his counsels and with pecuniary aid. In the Low Countries he supported Spain. In England, finally, he excommunicated Elizabeth, embraced the cause of Mary Stuart, and wrote to console her in prison. In the ardour of his faith he
        did not hesitate to display severity against the dissidents when necessary, and to give a new impulse to the activity of the Inquisition, for which he has been blamed by certain historians who have exaggerated his conduct. Despite all
        representations on his behalf he condemned the writings of Baius, who ended by submitting.
        <em class="read6"><a href="#">Read more...</a></em></p>
      <p class="readmore6">
        He worked incessantly to unite the Christian princes against the hereditary enemy, the Turks. In the first year of his pontificate he had ordered a solemn jubilee, exhorting the faithful to penance and almsgiving to obtain the victory from
        God. He supported the Knights of Malta, sent money for the fortification of the free towns of Italy, furnished monthly contributions to the Christians of Hungary, and endeavoured especially to bring Maximilian, Philip II, and Charles I
        together for the defence of Christendom. In 1567 for the same purpose he collected from all convents one-tenth of their revenues. In 1570 when Solyman II attacked Cyprus, threatening all Christianity in the West, he never rested till he
        united the forces of Venice, Spain, and the Holy See. He sent his blessing to Don John of Austria, the commander-in-chief of the expedition, recommending him to leave behind all soldiers of evil life, and promising him the victory if he did
        so. He ordered public prayers, and increased his own supplications to heaven. On the day of the Battle of Lepanto, 7 Oct., 1571, he was working with the cardinals, when, suddenly, interrupting his work opening the window and looking at the
        sky, he cried out, "A truce to business; our great task at present is to thank God for the victory which He has just given the Christian army". He burst into tears when he heard of the victory, which dealt the Turkish power a blow from which
        it never recovered. In memory of this triumph he instituted for the first Sunday of October the feast of the Rosary, and added to the Litany of Loreto the supplication "Help of Christians". He was hoping to put an end to the power of Islam by
        forming a general alliance of the Italian cities Poland, France, and all Christian Europe, and had begun negotiations for this purpose when he died of gravel, repeating "O Lord, increase my sufferings and my patience!" He left the memory of a
        rare virtue and an unfailing and inflexible integrity. He was beatified by Clement X in 1672, and canonized by Clement XI in 1712.
      </p>
    </div>
    <!-- <a href="#biography" class="previous"  id="prev">&laquo; Previous</a>
            <a href="#biography" class="next"  id="next">Next &raquo;</a> -->

    <!-- <a href="#biography" class="previous round" id="prev">&#8249;</a>
            <a href="#biography" class="next round" id="next">&#8250;</a> -->
    <a href="#biography" id="prev" role="btn btn-default">Prev</a>
    <a href="#biography" id="next" role="btn btn-success">Next</a>
  </div>
</section>




<!-- ##### Donate Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="faith-blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mx-auto">
          <img src="img/core-img/cross.png" alt="">
          <h3>Testimonies</h3>
          <p><q>For ther is nothing God cannot do</q> (Luke 1 : 37)</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="img/blog-img/1.jpeg" alt="">

          </div>
          <div class="blog-content">

            <p>This has made me to study the word of God everyday, by doing so I have drawn more closer to God and also making me to know him more and more. My entire life have changed.</p>

          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="img/blog-img/1.jpeg" alt="">

          </div>
          <div class="blog-content">

            <p>I now have a deeper understand in some misteries about God. I can see the Wisdom of God in me by doing things right. I am proud to be in this fourm. </p>

          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="img/blog-img/1.jpeg" alt="">

          </div>
          <div class="blog-content">

            <p>I searched everywher for counselling and solution to my problem, but all was abortive until I contacted the good shepherd. Now Jesus have calm the storm.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Area End ##### -->





<!-- ##### Contact Area Start ##### -->
<% include ./include/footer %>



<!-- ##### Footer Area Start ##### -->
