
<%- include ("./include/header") %>

<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
  <div class="hero-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay" style="background-image: url(img/bg-img/bg-2.jfif);">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-end">
          <div class="col-12 col-lg-7">
            <!-- Slides Content -->
            <div class="hero-slides-content">

              <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>
              <h2 data-animation="fadeInUp" data-delay="500ms">Jesus Christ the Good shepherd</h2>
              <p data-animation="fadeInUp" data-delay="700ms">Come to me, all of you who are tired from carrying heavy load, and I will give you rest.</p>
              <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Mattew 11:28</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Button -->
      <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Sunday Workship: 10:30 AM</a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-end">
          <div class="col-12 col-lg-7">
            <!-- Slides Content -->
            <div class="hero-slides-content">
              <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>
              <h2 data-animation="fadeInUp" data-delay="500ms">Jesus Christ the Good shepherd</h2>
              <p data-animation="fadeInUp" data-delay="700ms">Come to me, all of you who are tired from carrying heavy load, and I will give you rest.</p>
              <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Mattew 11:28</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Button -->
      <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Sunday Workship: 10:30 AM</a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay" style="background-image: url(img/bg-img/bg-3.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-7">
            <!-- Slides Content -->
            <div class="hero-slides-content">
              <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>
              <h2 data-animation="fadeInUp" data-delay="500ms">Jesus Christ the Good shepherd</h2>
              <p data-animation="fadeInUp" data-delay="700ms">Come to me, all of you who are tired from carrying heavy load, and I will give you rest.</p>
              <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Mattew 11:28</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Button -->
      <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Sunday Workship: 10:30 AM</a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta-text d-flex justify-content-between align-items-center">
          <h5><q>Help to carry one another burden (Gal 6:2)</q></h5>
          <a href="contact" class="btn faith-btn">Contact Us</a>
          <div class="col-sm-4">
            <audio controls loop="loop" autoplay>
                        <source src="audio/Count your Blessings.mp3">
                          </audio>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### CTA Area End ##### -->
<section class="faith-about-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="about-content">
          <img src="img/core-img/bible.png" alt="">

          <h2>Here is your moment of reflection</h2>
        
            <div id="bible-verse">
            
              <p id="verse-reference" style="font-weight: bold; color: #400200;"></p>
              <p id="verse-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### About Area Start ##### -->
<section class="faith-about-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="about-content">
          <img src="img/core-img/holy-star.png" alt="">

          <h2>“Blessed is the one who takes refuge <br>in him.”</h2>

          <h6>“Jesus said, I am telling you the truth; I am the gate for the sheep. I am the gate . Whoever comes in by Me will be saved,
            they will come in and go out and find pasture. The theif comes only in order to steal, kill and destroy. I have come in order
            that you might have life in all its fulliness. I am the good shepherd who is willing to die for the sheep. ”(Jn 10:7,9:11)</h6>


    
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Church Activities Area Start ##### -->
<section class="church-activities-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mx-auto">
          <img src="img/core-img/cross.png" alt="">
          <h3><q>Be sure that the book of the law is always read in your worship. Study it day and night and make sure you obey everything written in it. Then you will be prosperous and successful</q>.(Joshua 1:8)</h3>
          <p>The word of God is alive and active</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <!-- Upcoming Events -->
        <div class="upcoming-events mb-100">
          <!-- Headline -->
          <div class="headline">
            <h5>August Bible Readings</h5>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 01 <br /> August </h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event1.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="bible-page/1corinthians/3" target="_blank">
        
                <h6>Love the greatest commandment</h6>
              </a>
              <p>1 corinthians 13 <a href="bible-page/1corinthians/3" style="color: blue;"> Read the Bible</a></p>
            </div>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 02 <br> August</h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event2.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="bible-page/john/8" target="_blank">
                <h6>Jesus the Light of the world</h6>
              </a>
            
              <p>John 8 : 12 : 30  <a href="bible-page/1corinthians/3" style="color: blue;"> Read the Bible</a></p>
            </div>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 03 <br> August</h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event3.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="bible-page/Hebrew/11" target="_blank">
                <h6>Without faith you cannot please God</h6>
              </a>
              <p>Hebrew 11 : 1 : 39  <a href="bible-page/1corinthians/3" style="color: blue;"> Read the Bible</a></p>
         
            </div>
          </div>

          <!-- Single Upcoming Events -->
          <div class="single-upcoming-events d-flex align-items-center">
            <!-- Events Date & Thumbnail -->
            <div class="event-date-thumbnail d-flex align-items-center">
              <div class="event-date">
                <h6>Week <br> 04 <br> August</h6>
              </div>
              <div class="event-thumbnail bg-img" style="background-image: url(img/bg-img/event4.jpg);"></div>
            </div>
            <!-- Events Content -->
            <div class="events-content">
              <a href="bible-page/Deuteronomy/7" target="_blank">
                <h6>Blessings to Obedience of the Word of God</h6>
              </a>
              <p>Deuteronomy 7 : 12 : 26  <a href="bible-page/1corinthians/3" style="color: blue;"> Read the Bible</a></p>
            
            </div>
          </div>



        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!-- Latest Sermons -->
        <div class="latest-sermons mb-100">
          <div class="headline">
            <h5>Inspirational Songs</h5>
          </div>

          <!-- Single Sermons Area -->
          <div class="single-sermons">
            <div class="sermons-content d-flex align-items-center">
              <!-- Sermons Thumbnail -->
              <div class="sermons-thumbnail bg-img" style="background-image: url(img/bg-img/ser1.jpg);"></div>
              <!-- Sermons Content -->
              <div class="sermons-text">
                <a href="#">
                  <h6>In all things give things to God</h6>
                </a>

              </div>
            </div>
            <div class="sermons-audio-player d-flex align-items-center">
              <audio preload="auto" controls, class="audio-player">
                <source src="audio/Count your Blessings.mp3">
              </audio>

            </div>
          </div>

          <!-- Single Sermons Area -->
          <div class="single-sermons">
            <div class="sermons-content d-flex align-items-center">
              <!-- Sermons Thumbnail -->
              <div class="sermons-thumbnail bg-img" style="background-image: url(img/bg-img/ser2.jpg);"></div>
              <!-- Sermons Content -->
              <div class="sermons-text">
                <a href="#">
                  <h6>When you pray God send His angel. But when you prise God , He comes down by Himself </h6>
                </a>

              </div>
            </div>
            <div class="sermons-audio-player d-flex align-items-center">
              <audio preload="auto" controls, class="audio-player">
                <source src="audio/Blessed Assurance.mp3">
              </audio>

            </div>
          </div>

          <!-- Single Sermons Area -->
          <div class="single-sermons">
            <div class="sermons-content d-flex align-items-center">
              <!-- Sermons Thumbnail -->
              <div class="sermons-thumbnail bg-img" style="background-image: url(img/bg-img/ser3.jpg);"></div>
              <!-- Sermons Content -->
              <div class="sermons-text">
                <a href="#">
                  <h6>Do whatever He tells you to do</h6>
                </a>

              </div>
            </div>
            <div class="sermons-audio-player d-flex align-items-center">
              <audio preload="auto" controls, class="audio-player">
                <source src="audio/TRUST AND OBEY.mp3">
              </audio>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Church Activities Area End ##### -->

<!-- ##### Donate Area Start ##### -->
<section class="donate-our-charities section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-3.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading white text-center mx-auto">
          <h3>Feast of the Saints</h3>
          <p><q>When good people pray, the Lord listens, but He ignores those who are evil</q>(Proverbs 15 : 29)</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="donate-slides owl-carousel">
          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate2.jpeg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St. Bridget of Sweden</h4>
              <p>Patron of Sweden</p>
              <p>July 23</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal2" class="btn faith-btn active" data-toggle="modal">Read more</a>

            </div>
          </div>


          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate1.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St. James the Greater</h4>
              <p>Patron of Laborers</p>
              <p>July 25</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal3" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>


          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate6.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>Sts. Joachim and Anne</h4>
              <p>July 26</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
            <a href="#costumModal4" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate7.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St. John Vianney</h4>
              <p>August 4</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal5" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate3.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4> St. Dominic</h4>
              <p>Patron of Astronomers</p>
              <p>August 8</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal6" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate4.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>Assumption of our Blessed Mother Mary</h4>
              <p>August 15</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
                <a href="#costumModal7" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>


          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate9.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St. Rose of Lima</h4>
              <p>Patron of Latin America and Phillipines</p>
              <p>August 23 </p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
                <a href="#costumModal8" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>

          <!-- Single Donate Slide Area -->
          <div class="single-donate-slide">
            <img src="img/bg-img/donate10.jpg" alt="">
            <!-- Donate Content -->
            <div class="donate-content">
              <h4>St. Monica </h4>
              <p>Patron of Wives and Abuse Victims</p>
              <p>August 27</p>
            </div>
            <!-- Donate Button -->
            <div class="donate-btn text-center">
              <a href="#costumModal9" class="btn faith-btn active" data-toggle="modal">Read more</a>
            </div>
          </div>



        </div>
      </div>
    </div>
    <br />
  <center>
    <!-- <div>
      <a class="agnes" href="#" role="button">
        Read more on other saints
      </a>
    </div> -->
    </center>
    <div id="biography">

    </div>
  </div>
</section>
<br />
<!-- displaying the saints biography -->

<!-- st Bridget of Sweden -->
<div id="costumModal2" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">
            St. Bridget of Sweden
          </h4>
  
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate2.jpeg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>Saint Birgitta was the daughter of Upplands Lagman, Birger Petersson and his wife, Ingeborg, who was a member of the same clan as the reigning family. Birgittas family was pious; her father went to confession every Friday and made long and arduous pilgrimages as far away as the Holy Land.

          Birgittas mother died, leaving Birgitta, ten years old, Katharine, nine and a newborn baby boy, Israel. The children were sent to their maternal aunt for further education and care. It seems that as a young child, Birgitta had a dream-vision of The Man of Sorrows. This dream was very vivid. Birgitta asked Him who had done that to Him. His answer: All those who despise my love. The memory of this dream never left Birgitta and may have even left an indelible mark on her sub-conscious. As was usual during the Middle Ages, Birgitta was married when she was 13 years old to a young man, Ulf Gudmarsson with whom she had eight children, four daughters and four sons, all of them survived infancy, and that was very rare at that time.
          
          When the King of Sweden, Magnus Eriksson married Blanche of Namur, he asked his kinswoman, Birgitta to come and be Lady-in Waiting and to teach the young queen the language and customs of her new country. After her years of service at Court, Birgitta and Ulf made the long pilgrimage to Santiago di Compostela. On the return journey Ulf became dangerously ill in Arras. Birgitta feared for his death and sat all night by his bed praying, and then a bishop appeared to her, promised that Ulf would recover and God had great things for her to do. He told her that he was Denis, Patron of France. Ulf recovered and was able to continue his work as Lagman in the province of Nrke until early in the year 1344, when he was very ill so Birgitta took him to the monks at Alvastra where he died and was buried. Birgitta remained in a little house near the abbey and she spent along hours in prayer by Ulfs grave. She said that she loved him like my own body. She arranged her affairs among her children and various charities and prayed for guidance. She was 41 years old and in the abbey at Alvastra God called her be My Bride and My canal. He gave her the task of founding new religious order, mainly for women. He said that the other orders had fallen into decay and this new order would be a vineyard whose wine would revivify the Church. He showed her how her abbey church was to be built, gave directions concerning the clothing and prayers of the nuns, 60 in all, who needed priests as chaplains, 13 priests, 4 deacons and 8 lay brothers. These two communities were to be ruled by an abbess, who was to represent the Blessed Virgin Mary together with the Apostles in the Upper Room in Jerusalem.
          <em class="read"><a href="#">Read more...</a></em>
        </p>
        <p class="readmore">
          King Magnus Eriksson donated a little palace and much land to the new monastery, but almost as soon she had begun altering the palace and organising the work, Christ appeared to her and asked her to go to Rome and wait there until she got the pope to return from France to Rome. She was to be there during the Holy Year 1350. Birgitta left Sweden at the end of 1349 never to return. For the rest of her life she saw visions concerning the reform of the Church, messages to kings and popes and many other persons in high places, directing them to work for the Church. It may be noted that Birgitta never wrote in the first person. She always said the she carried a message from a very High Lord. Although she had longed to become a nun, she never even saw the monastery in Vadstena. In fact, nothing she set out to do was ever realised. She never had the pope return to Rome permanently, she never managed to make peace between France and England, she never saw any nun in the habit that Christ had shown her, and she never returned to Sweden but died, worn out old lady far from home in July 1373. She can be called the Patroness of Failures. In this she was like her Lord. He was also classed as failure as He hung on the Cross. Birgitta was a successful failure as she was canonized in 1391.Birgitta was the only women ever to found a religious Order, Ordo Sanctissimi Salvatoris. It was never a double order but an order primarily for women with permanent chaplains, ruled by an abbess. The brothers had as their head, not a prior but a Confessor General who was responsible for the spiritual business of both convents.

The order spread swiftly throughout Europe with monasteries from Scandinavia right through Europe down to Italy. In modern times is has expanded into five different, juridically independant branches; Spain 1629, Rome 1911, U.S.A. 1970, Mexico at the change of the century. None of these foundations have brothers (except U.S.A. which has one male convent). The last Birgittine father died in Altomnster 1863. She is the patroness of Sweden. Her feast day is July 23.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>
<!-- st Agnes -->
<div id="costumModal3" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St. James the Greater</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate1.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>



        <p>For James there was no indication that this was the day that his life would change. The dawn for him was not the bright beginning of a new day, but the end of long fruitless night of fishing. As James sat mending his nets in the boat with his brother John and his father Zebedee, he must have watched in wonder as his partner Simon brought in nets loaded with fish he had caught at the command of Jesus. Was he shocked when he saw Simon and his brother Andrew walk away from this incredible catch at a word from this same Jesus? 

          As he watched Jesus walk toward him followed by Simon and Andrew, did he feel curiosity, fear, hope, envy? Jesus didn't pass him by but, stopping by their boat, called James and his brother John to do just what Simon and Andrew had done. Without argument or discussion, James and John left their boat and even their father behind, and followed Jesus. 
          
          The first thing James saw after he followed Jesus was his teaching with authority in the synagogue and the cure of Simon's mother-in-law. 
          
          We all know that Jesus was the focus of James' life from then on, but it is also evident that James held a special place in Jesus' life. 
          
          He was chosen by Jesus to be one of the twelve apostles, given the mission to proclaim the good news, and authority to heal and cast out demons. To be named one of the twelve James must have had faith and commitment. 
          
          But even among the apostles he held a special place. When Jesus raised Jairus' daughter when all thought her dead, he only allowed James, John, and Peter to come with him. Even more important when he went up to the mountain to pray, he wanted James, John, and Peter to go with him. And it was there on the mountain they were privileged to witness what no one else had seen -- Jesus transfigured in his glory, speaking to Moses and Elijah, as the voice of God spoke from a cloud. 
          
          And with Simon Peter, James and John were the only ones of the apostles that Jesus gave a special name: Sons of Thunder. 
          
          To be singled out in these ways, James must have been a close and respected friend of Jesus. 
          
          It's no wonder then that James, along with John, felt that he had the right to go to Jesus and ask him to give them whatever they asked. As a mark of his love, Jesus didn't rebuke them but asked them what they wanted. They showed their lack of understanding of his mission when they asked that he let one of them sit on his right and the other on his left when he came into his glory. He replied that they didn't know what they were asking. They didn't see the cross in his future, but an earthly throne. Could they drink of the cup he would drink of? They replied that they could. He assured them they would indeed drink of that cup. 
          <em class="read1"><a href="#">Read more...</a></em></p>
        <p class="readmore1">

          (Matthew has their mother asking for this favor for her sons. Despite the bad reputation their mother got for this, it should be remembered that she too had followed Jesus in his travels, providing for him, and was one of the women who stayed with Jesus as he was crucified when the apostles, including her son James, had fled.) 

          The other apostles were furious at this request. But Jesus used this opportunity to teach all of them that in order to be great one must be a servant. 
          
          James and John did show further lack of understanding of their friend and Lord when he was turned away by Samaritans. They wanted to use their newfound authority as apostles not to heal but to bring fire down on the town. (Perhaps Jesus gave them their Sons of Thunder nickname because of their passion, their own fire, or their temper.) Jesus did reprimand them for their unforgiving, vengeful view of their power. 
          
          But despite all these misunderstandings, it was still James, Peter, and John that Jesus chose to join him in prayer at the Garden of Gethsemane for his final prayer before his arrest. It must have hurt Jesus that the three of them fell asleep on this agonizing evening. 
          
          James did drink of the cup Jesus drank of, all too shortly after the Resurrection. Acts 12:1 tells us that James was one of the first martyrs of the Church. King Herod Agrippa I killed him with a sword in an early persecution of the Church. There is a story that the man who arrested James became a convert after hearing James speak at his trial and was executed with him. 
          
          James is called James the Greater because another younger apostle was named James. He should not be accused with this James, or the James who is a relative of Jesus, or the James who was an elder of the Church in Jerusalem and heard Peter's defense of baptizing Gentiles. James, son of Thunder, was dead by then. 
          
          Legends have sprung up that James evangelized Spain before he died but these stories have no basis in historical fact. 
          
          James is the patron saint of hatmakers, rheumatoid sufferers, and laborers. 
          
          In His Footsteps 
          
          What name would Jesus give you if he would describe who you are and your gifts? 
          
          Prayer: 
          
          Saint James, pray for us that we may be willing to leave everything to follow Jesus as you did. Help us to become special friends of Jesus as you were. Amen.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>

<!-- st Adalbert -->
<div id="costumModal4" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> Sts. Joachim and Anne</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate6.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
      <p>
        By tradition Joachim and Anne are considered to be the names of the parents of Mary, the Mother of God. We have no historical evidence, however, of any elements of their lives, including their names. Any stories about Mary's father and mother come to us through legend and tradition. 

We get the oldest story from a document called the Gospel of James, though in no way should this document be trusted to be factual, historical, or the Word of God. The legend told in this document says that after years of childlessness, an angel appeared to tell Anne and Joachim that they would have a child. Anne promised to dedicate this child to God (much the way that Samuel was dedicated by his mother Hannah -- Anne -- in 1 Kings). 

For those who wonder what we can learn from people we know nothing about and how we can honor them, we must focus on why they are honored by the church. Whatever their names or the facts of their lives, the truth is that it was the parents of Mary who nurtured Mary, taught her, brought her up to be a worthy Mother of God. It was their teaching that led her to respond to God's request with faith, "Let it be done to me as you will." It was their example of parenting that Mary must have followed as she brought up her own son, Jesus. It was their faith that laid the foundation of courage and strength that allowed her to stand by the cross as her son was crucified and still believe. 

Such parents can be examples and models for all parents. 

Anne (or Ann) is the patron saint of Christian mothers and of women in labor. <br />

Prayer: 

Parents of Mary, pray for all parents that they may provide the loving home and faithful teaching that you provided your daughter. Amen
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>
<!-- st mark the evangelist -->
<div id="costumModal5" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St. John Vianney</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate7.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          St. John Vianney, Priest (Patron of priests) Feast day - August 4 Universally known as the "Cure of Ars)," St. John Mary Vianney was ordained a priest in 1815. Three years later he was made parish priest of Ars, a remote French hamlet, where his reputation as a confessor and director of souls made him known throughout the Christian world. His life was one of extreme mortification. 

Accustomed to the most severe austerities, beleaguered by swarms of penitents, and besieged by the devil, this great mystic manifested a imperturbable patience. He was a wonderworker loved by the crowds, but he retained a childlike simplicity, and he remains to this day the living image of the priest after the heart of Christ. 

He heard confessions of people from all over the world for the sixteen hours each day. His life was filled with works of charity and love. It is recorded that even the staunchest of sinners were converted at his mere word. He died August 4, 1859, and was canonized May 31, 1925.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
  </div>
</div>

<!-- st zita -->

<div id="costumModal6" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St. Dominic</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate3.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          St. Dominic (1170-1221). Son of Felix Guzman and Bl. Joan of Aza, he was born at Calaruega, Spain, studied at the Univ. at Palencia, was probably ordained there while pursuing his studies and was appointed canon at Osma in 1199. There he became prior superior of the chapter, which was noted for its strict adherence to the rule of St. Benedict. In 1203 he accompanied Bishop Diego de Avezedo of Osma to Languedoc where Dominic preached against the Albigensians (heresy) and helped reform the Cistercians. Dominic founded an institute for women at Prouille in Albigensian territory in 1206 and attached several preaching friars to it. When papal legate Peter of Castelnan was murdered by the Albigensians in 1208, Pope Innocent III launched a crusade against them headed by Count Simon IV of Montfort which was to continue for the next seven years. Dominic followed the army and preached to the heretics but with no great success. In 1214 Simon gave him a castle at Casseneuil and Dominic with six followers founded an order devoted to the conversion of the Albigensians; the order was canonically approved by the bishop of Toulouse the following year. He failed to gain approval for his order of preachers at the fourth General Council of the Lateran in 1215 but received Pope Honorius III's approval in the following year, and the Order of Preachers (the Dominicans) was founded. 

Dominic spent the last years of this life organizing the order, traveling all over Italy, Spain and France preaching and attracting new members and establishing new houses. The new order was phenomenally successful in conversion work as it applied Dominic's concept of harmonizing the intellectual life with popular needs. He convoked the first general council of the order at Bologna in 1220 and died there the following year on August 6, after being forced by illness to return from a preaching tour in Hungary. He was canonized in 1234 and is the patron saint of astronomers. Feast day is Aug. 8.
          <em class="read3"><a href="#">Read more...</a></em></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
              Close
            </button>

          </div>
        </div>
      </div>
    </div>


<!-- st peter Chanel -->

<div id="costumModal7" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> Assumption of Virgin Mary</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate4.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          On November 1, 1950, Pope Pius XII defined the Assumption of Mary to be a dogma of faith: “We pronounce, declare and define it to be a divinely revealed dogma that the immaculate Mother of God, the ever Virgin Mary, having completed the course of her earthly life, was assumed body and soul to heavenly glory.” The pope proclaimed this dogma only after a broad consultation of bishops, theologians and laity. There were few dissenting voices. What the pope solemnly declared was already a common belief in the Catholic Church.
          We find homilies on the Assumption going back to the sixth century. In following centuries, the Eastern Churches held steadily to the doctrine, but some authors in the West were hesitant. However by the 13th century there was universal agreement. The feast was celebrated under various names—Commemoration, Dormition, Passing, Assumption—from at least the fifth or sixth century. Today it is celebrated as a solemnity.
          <em class="read4"><a href="#">Read more...</a></em></p>

        <p class="readmore4">
          In 1833, he accompanied Fr. Jean-Claude Colin to Rome to seek approval of the nascent Society. In 1836, the Marists, finally formally approved by Pope Gregory XVI, were asked to send missionaries to the territory of the southwest Pacific.
          Chanel, professed a Marist on 24 September 1836, was made the superior of a band of seven Marist missionaries that set out on 24 December from Le Havre. They were accompanied by Bishop Jean Baptiste Pompallier who was to become the first
          Bishop of New Zealand.

          Scripture does not give an account of Mary’s assumption into heaven. Nevertheless, Revelation 12 speaks of a woman who is caught up in the battle between good and evil. Many see this woman as God’s people. Since Mary best embodies the people of both Old and New Testaments, her assumption can be seen as an exemplification of the woman’s victory.

          Furthermore, in 1 Corinthians 15:20, Paul speaks of Christ’s resurrection as the first fruits of those who have fallen asleep.
          
          Since Mary is closely associated with all the mysteries of Jesus’ life, it is not surprising that the Holy Spirit has led the Church to believe in Mary’s share in his glorification. So close was she to Jesus on earth, she must be with him body and soul in heaven.
          <br><br>
          <strong>Reflection:</strong>
          In the light of the Assumption of Mary, it is easy to pray her Magnificat (Luke 1:46–55) with new meaning. In her glory she proclaims the greatness of the Lord and finds joy in God her savior. God has done marvels to her and she leads others to recognize God’s holiness. She is the lowly handmaid who deeply reverenced her God and has been raised to the heights. From her position of strength she will help the lowly and the poor find justice on earth, and she will challenge the rich and powerful to distrust wealth and power as a source of happiness.
          
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
    </div>
    </div>
<!-- st Catherine of Siena -->
<div id="costumModal8" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <center>
          <h4> St. Rose of Lima</h4>
        </center>
      </div>
      <div class="modal-body">
        <center>
          <img src="img/bg-img/donate9.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
        </center>
        <p>
          Virgin, born at Lima, Peru 20 April, 1586; died there the 24 of August, 1617.

St. Rose of Lima is the patroness of Latin America and the Philippines. This South American Saint's real name was Isabel, but she was such a beautiful baby that she was called Rose, and that name remained. As she grew older, she became more and more beautiful, and one day, her mother put a wreath of flowers on her head to show off her loveliness to friends. But Rose had no desire to be admired, for her heart had been given to Jesus. So she put a long pin into that wreath and it pierced her so deeply, that she had a hard time getting the wreath off afterward. Another time she became afraid that her beauty might be a temptation to someone, since people could not take their eyes off her. Therefore, she rubbed her face with pepper until it was all red and blistered. 

St. Rose worked hard to support her poor parents and she humbly obeyed them, except when they tried to get her to marry. That she would not do. Her love of Jesus was so great that when she talked about Him, her face glowed and her eyes sparkled. 

Rose had many temptations from the devil, and there were also many times when she had to suffer a feeling of terrible loneliness and sadness, for God seemed far away. Yet she cheerfully offered all these troubles to Him. In fact, in her last long, painful sickness, this heroic young woman use to pray: "Lord, increase my sufferings, and with them increase Your love in my heart." 

Many miracles followed her death. She was beatified by Clement IX, in 1667, and canonized in 1671 by Clement X, the first American to be so honoured. Her feast is celebrated 23 of August. She is represented wearing a crown of roses.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>

      </div>
    </div>
    </div>
    </div>

    <div id="costumModal9" class="modal" data-easein="flipXIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

            <center>
              <h4> St. Monica</h4>
            </center>
          </div>
          <div class="modal-body">
            <center>
              <img src="img/bg-img/donate10.jpg" alt="" class="rounded-circle" style="height:150px;width:150px;">
            </center>
            <p>
              St. Monica was married by arrangement to a pagan official in North Africa, who was much older than she, and although generous, was also violent tempered. His mother Lived with them and was equally difficult, which proved a constant challenge to St. Monica. She had three children; Augustine, Navigius, and Perpetua. Through her patience and prayers, she was able to convert her husband and his mother to the Catholic faith in 370. He died a year later. Perpetua and Navigius entered the religious Life. St. Augustine was much more difficult, as she had to pray for him for 17 years, begging the prayers of priests who, for a while, tried to avoid her because of her persistence at this seemingly hopeless endeavor. One priest did console her by saying, "it is not possible that the son of so many tears should perish." This thought, coupled with a vision that she had received strengthened her. St. Augustine was baptized by St. Ambrose in 387. St. Monica died later that same year, on the way back to Africa from Rome in the Italian town of Ostia.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
              Close
            </button>

          </div>
        </div>
        </div>
        </div>






<!-- ##### Donate Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="faith-blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mx-auto">
          <img src="img/core-img/cross.png" alt="">
          <h3>Testimonies</h3>
          <p><q>For ther is nothing God cannot do</q> (Luke 1 : 37)</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="img/blog-img/1.jpeg" alt="">

          </div>
          <div class="blog-content">

            <p>This has made me to study the word of God everyday, by doing so I have drawn more closer to God and also making me to know him more and more. My entire life have changed.</p>

          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="img/blog-img/1.jpeg" alt="">

          </div>
          <div class="blog-content">

            <p>I now have a deeper understand in some misteries about God. I can see the Wisdom of God in me by doing things right. I am proud to be in this fourm. </p>

          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="img/blog-img/1.jpeg" alt="">

          </div>
          <div class="blog-content">

            <p>I searched everywher for counselling and solution to my problem, but all was abortive until I contacted the good shepherd. Now Jesus have calm the storm.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Area End ##### -->



<!-- ##### Contact Area Start ##### -->
<%- include ("./include/footer") %>




<!-- ##### Footer Area Start ##### -->