<% include ./include/header %>

    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/bg-4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <div class="breadcumb-text">
                      <h2>Catholic Faith</h2>
                        <h5>The teachings and doctrine of Catholic Church</h5>
        
            <div id="bible-verse" style="text-align: left">
            
              <p id="verse-reference" style="font-weight: bold; color: yellow;"></p>
              <p id="verse-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Ministries Area Start ##### -->
    <section class="ministries-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <img src="img/core-img/cross.png" alt="">
                        <h3>Catholic doctrines</h3>
                        <p>The catholic doctrines are in the bible.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Ministry Area -->
                <div class="col-12 col-md-6">
                    <div class="single-ministry mb-100">
                        <img src="img/bg-img/m1.jpg" alt="">
                        <div class="ministry-content">
                            <h6>Use of images and sacramentals</h6>
                            <span>(these reminds us what the stand for)</span>
                            <p><q> The Lord told moses to make a metal snake and put it on a pole so that anyone who was bitten at it and be healed. Moses made a bronze snake and put it on a pole. Anyone who had been bitten would look at the bronze snake and be healed</q>(Numbers 21: 8 : 9)</p>
<br />

<h5>Supported passages</h5>
<p>Exodus 25 : 17 : 22</p>
<p>Colosians 1 : 20, 2 :14</p>
<p>John 12 : 32</p>
<p>Acts 19 : 11 : 12 </p>

                            <div class="ministry-btn">
                                <a href="contact" class="btn faith-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Ministry Area -->
                <div class="col-12 col-md-6">
                    <div class="single-ministry mb-100">
                        <img src="img/bg-img/m2.jpg" alt="">
                        <div class="ministry-content">
                            <h6>Is purgatory real? YES! </h6>
                            <span>What does the holy bible say about it</span>
                            <p><q>if someone brings a lawsuite against you and takes you to court, do your best to settle the dispute with them before you get to court.
                               If you don't they will drag you before the judge, Who will hand you over to the police, and you will be put to jail. There you will stay. I tell you,until you pay the last penny of your fine.</q>(Luke 12 : 58 : 59)</p>

                               <br />

                               <h5>Supported passages</h5>
                               <p>1 corinthians 3: 15</p>
                            <div class="ministry-btn">
                                <a href="contact" class="btn faith-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Ministry Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-ministry mb-100">
                        <img src="img/bg-img/m3.jpg" alt="">
                        <div class="ministry-content">
                            <h6>The Rosary is a prayer in honour of The Blessed Virgin Mary</h6>
                            <span>What the holy bible says about it</span>
                            <p><q>And said in a loud voice, You are the most Blessed of all women, and blessed is the child you will bear.</q>(Luke 1 : 42)</p>

                            <h5>Supported Passges</h5>
                            <p>Luke 1 : 28</p>
                            <div class="ministry-btn">
                                <a href="contact" class="btn faith-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Ministry Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-ministry mb-100">
                        <img src="img/bg-img/m4.jpg" alt="">
                        <div class="ministry-content">
                            <h6>Why must we confess our sins to anybody other than God</h6>
                            <span>What the bible says</span>
                            <p><q>I will give you the keys of the kingdom of heaven. What you prohibite on earth will be prohibited in heaven and what you permit on earth will be permitted in heaven</q><br />(Mattew 16 : 19, 1 : 20)</p>
                            <div class="ministry-btn">
                                <a href="contact" class="btn faith-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Ministry Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-ministry mb-100">
                        <img src="img/bg-img/m5.jpg" alt="">
                        <div class="ministry-content">
                            <h6>Is infant baptism in the holy bible?</h6>
                            <span>What the bible says</span>
                            <p><q>Go then to all peoples everywhere and make them my deciples; baptize them in the name of the Father, the son, and the Holy Spirit.</q>(Mattew 28 : 19)</p>

                            <h5>Supported passages</h5>
                            <p>Acts 16 : 15 : 33</p>
                            <p>Acts 18 : 8</p>
                        <p>Act 10: 47 : 48</p>
                            <div class="ministry-btn">
                                <a href="contact" class="btn faith-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Ministries Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <% include ./include/footer %>



</html>
