<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-2">
                    <div class="d-flex flex-wrap mb-100">
                        <div class="footer-widget">
                          <div class="widget-title">
                              <h6>Chat Us</h6>
                          </div>
                            <div class="footer-social-info">
                                <a href="https://t.me/+gPeSD5a1jWczNGNk" target="_blank"><i class="fa fa-telegram"  style="color:yellow"></i></a>

                                <a href="https://chat.whatsapp.com/JxJTRd2Y4Xv0sbPkOZBQGO" target="_blank"><i class="fa fa-whatsapp"  style="color:yellow"></i></a>
                                <a href="https://twitter.com/Good_shepherd21?s=08" target="_blank"><i class="fa fa-twitter"  style="color:yellow"></i></a>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contact Us</h6>
                        </div>



                        <!-- Single Contact Area -->
                        <div class="single-contact-area mb-30">
                            <p style="color:yellow">Phone:</p>
                            <span>+2349155805777</span>
                        </div>

                        <div class="single-contact-area mb-30">
                            <p style="color:yellow">Email:</p>
                            <span>deuscurat.care@gmail.com</span>
                        </div>

                        <div class="single-contact-area mb-30">
                            <p style="color:yellow">Charity Platform:</p>
                            <span><a href="https://deus-curat.web.app" style="color: white; font: 10px" target="_blank">https://deus-curat.web.app</a></span>
                        </div>

                        <!-- Single Contact Area -->

                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Usefull Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="/">Home</a></li>


                                <li><a href="mistries">Doctrins</a></li>

                                <li><a href="contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Why Christ's Comfort?</h6>
                        </div>
                        <p>Being self-aware and having the capability to think and feel emotions with clarity and understanding is part and parcel of being human. Because of this, there is scope for the way we think to become a problem and to affect our emotions.
                            Christ's Comfort platform is used to help people come to terms with many problems they are facing, with an ultimate aim of overcoming them.</p>
                        <a href="contact" class="btn faith-btn mt-70">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->

<!-- The core Firebase JS SDK is always required and must be listed first -->


<script src="https://www.gstatic.com/firebasejs/10.12.3/firebase-analytics.js"></script>

<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<script src="js/plugins/audioplayer.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<script type="module" src="js/app.js"></script>


</body>

</html>
